<!DOCTYPE html>
<html>
<head>
  <title>{{.Title}}</title>
  <meta name="description" content="{{.Description}}">
  <link href="/.static/styles/{{.Site.Style}}.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="site-navigation">
  <a href="/">Articles</a>
  {{range $name, $route := .Site.Pinned}}
  <a href="/{{$route}}">{{$name}}</a>
  {{end}}
</div>
<div id="content">
<article>
  <hr>
  <h1 id="article-title">Articles</h1>
  <p id="article-description">{{.Site.Description}}</p>
  <hr>
  <ul>
    {{range $k, $v := .SortedIndex}}
      <li><a href="{{$v.Route}}">{{$v.FormattedDate}} - {{$v.Title}}</a></li>
    {{end}}
  </ul>
</article>
</div>
</body>
</html>
