<!DOCTYPE html>
<html>
<head>
  <title>{{.Title}}</title>
  <meta name="description" content="{{.Description}}">
  <link href="/.static/styles/{{.Site.Style}}.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="site-navigation">
  <a href="/">Articles</a>
  {{range $name, $route := .Site.Pinned}}
  <a href="/{{$route}}">{{$name}}</a>
  {{end}}
</div>
<div id="content">
<article>
  <hr>
  <h1 id="problem-title">{{.Title}}</h1>
  <hr>
  <p>{{.Description}}</p>
</article>
</div>
</body>
</html>
