/* Standard Elements */

body {
	margin: 0;
  font-size: 1em;
	font-family: serif;
	font-weight: lighter;
	background-color: #fff5f5;
	color: #101010;
}

/* IDs */

#site-header {
	text-align: center;
}

#content {
  max-width: 52em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff5f5;
  color: #101010;

  hr {
    border: thin solid #dadfda;
    margin-left: 2%;
    margin-right: 2%;
  }

  a {
    text-decoration: none;
  }

  a:link, a:visited {
  }

  a:hover, a:active {
    color: #af1010;
  }

  ul {
    list-style-type: circle;
  }

  table {
    border-collapse: collapse;
    border: 0.1em solid #65605a;
  }

  table td {
    border: 0.1em solid #65605a;
    padding-left: 0.4em;
    padding-right: 0.4em;
  }

  table th {
    text-align: left;
  }
}

#content-description {
	text-align: left;
}
